<div class="content">
  <div class="header">
    <div class="left">
      <h1>Umut Can Arda</h1>
      <p>FlySquare</p>
    </div>
    <div class="right">
      <a href="https://www.github.com/flysquare" target="_blank"><i class="fa fa-github fa-lg"></i></a>
      <a href="https://twitter.com/flysquare0" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="https://www.instagram.com/fly.square/" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/flysquare/" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
    </div>
  </div>
</div>
